# Fedora build dependencies for Text Editor
#
# Install everything with:
#   sudo dnf install $(grep -v '^#' requirements.txt)
#
# Then build and run natively:
#   meson setup _build
#   ninja -C _build
#   _build/src/text-editor

gcc
vala
meson
ninja-build
pkgconf-pkg-config
gtk4-devel
libadwaita-devel
glib2-devel
gettext
desktop-file-utils
appstream
git
git-lfs
